@tailwind base;
@tailwind components;
@tailwind utilities;

*, * * {
  font-family: "Josefin Sans", sans-serif;
}
.Toastify__toast {
  font-family: sans-serif; /* Replace with your desired font */
  font-size: 14px; /* Adjust font size */
  color: #434343;
}
